.video, .story {
    height: 30vh;
}

.story {
    height: fit-content;

}

.storySection .video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.storySection video {
    border-radius: 25px;
    width: 90%;
}

section.about h2 {
    font-size: 40px;
    text-align: center;

}

section.about .bio p {
    font-size: 35px;
    padding: 2em;
}

div.bio {
    height: 50%;
}

.about .skillsSection {
    height: fit-content;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10vh;
}

h2.skillsTitle {
    margin: 1em;
}

.scroll-parent {
    display: inline-block;
    position:relative;
    width: 100vw;
    height:300px;
    overflow-x: hidden;
}

.languages {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    align-items: center;
}

.primary {
    animation: primary 10s linear infinite;
}

.secondary {
    animation: secondary 10s linear infinite;
}

.languages {
    display: flex;
    align-content: center;
}

.languageCard {
    max-width: 150px;
    margin: 30px;

}

.languageLogo {
    height: 150px;
}

p.languageTitle {
    text-align: center;
    font-size: 30px;
}

.expandedSkills .collapsible {
    font-size: 35px;
    /* cursor: pointer; */
    padding: 1em;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    background-color: inherit;
}

.expandedSkills .collapsible:after {
    content: '\02795';
    float: right;
}

.expandedSkills.active .collapsible {
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    border: 0px;
    border-bottom: 1px;
    border-style: dotted;
    font-weight: bold;
    background-color: var(--dark-grey);
    color: inherit;
}

.expandedSkills.active .collapsible:after {
    content: "\2796";
    float: right;
}

.expandedSkills .content {
    display: none;
    overflow: hidden;
    font-size: 30px;
    padding: 2em;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}


.expandedSkills.active .content {
    display: grid;
    animation: expandDropDown 1s ease-out;
    max-height: max-content;
}

.skillsSection .content p{
    font-weight: bold;
    padding-bottom: 0.5em;
}

.skillsSection .content ul {
    list-style: none;
}



/* Animations */

@keyframes primary {
    from{
        left: 0%;
    }
    to {
        left: -1050px;
    }
}

@keyframes secondary {
    from{
        left: 1050px;
    }
    to {
        left: 0%;
    }
}

@keyframes expandDropDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* for laptops include hover feature */
/* .expandedSkills .collapsible:hover {
    font-weight: bold;
    background-color: var(--dark-grey);
} */
