section.about {
    --numberOfLogos: 5;
    --logoSize: calc( 3 * var(--h2fontsize));
    --infLoopLength: calc((var(--logoSize) + var(--pfontsize)) * (var(--numberOfLogos) + 1) + var(--pfontsize) / 2);
    display: flex;
    flex-direction: column;
}

.storySection .video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.storySection .story {
    display: flex;
    flex-direction: column;
}

.storySection video {
    border-radius: 25px;
    width: 90%;
}

section.about h2 {
    font-size: var(--h2fontsize);
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

section.about .bio p {
    font-size: var(--pfontsize);
    padding: 10%;
    padding-top: 0;
}

.about .skillsSection {
    /* height: fit-content; */
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    /* position: sticky;
    top: 10vh; */
}

section.about h2.skillsTitle {
    margin: 1em;
}

.scroll-parent {
    display: inline-block;
    position:relative;
    /* width: 100vw; */
    height:calc(2 * var(--logoSize));
    overflow-x: hidden;
}

.languages {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0%;
    top: 0%;
    align-items: center;
}

.primary {
    animation: primary 10s linear infinite;
}

.secondary {
    animation: secondary 10s linear infinite;
}

.languages {
    display: flex;
    align-content: center;
}

.languageCard {
    max-width: var(--logoSize);
    margin: var(--pfontsize);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.languageLogo {
    height: var(--logoSize);
}

p.languageTitle {
    text-align: center;
    font-size: var(--pfontsize);
}

.expandedSkills .collapsible {
    font-size: var(--pfontsize);
    cursor: pointer;
    padding: 1em;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    background-color: inherit;
}

.expandedSkills .collapsible:after {
    content: '\02795';
    float: right;
}

.expandedSkills.active .collapsible {
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    border: 0px;
    border-bottom: 1px;
    border-style: dotted;
    font-weight: bold;
    background-color: var(--dark-grey);
    color: inherit;
}

.expandedSkills.active .collapsible:after {
    content: "\2796";
    float: right;
}

.expandedSkills .content {
    display: none;
    overflow: hidden;
    font-size: var(--pfontsize);
    padding: 2em;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}

.expandedSkills.active .content {
    display: grid;
    animation: expandDropDown 1s ease-out;
    max-height: max-content;
}

.skillsSection .content p{
    font-weight: bold;
    padding-bottom: 0.5em;
}

.skillsSection .content ul {
    list-style: none;
}


/* Animations */
@keyframes primary {
    from{
        left: 0%;
    }
    to {
        left: calc( -1 * var(--infLoopLength));
    }
}

@keyframes secondary {
    from{
        left: var(--infLoopLength);
    }
    to {
        left: 0%;
    }
}

@keyframes expandDropDown {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Responsive layout*/
@media screen and (min-width: 800px) and (min-device-width: 750px) {
    .storySection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'video title'
        'video bio';
    }

    .video {
        grid-area: video;
        align-self: center;
    }
}

@media screen and (min-device-width: 1200px) {
    /* for laptops include hover feature */
    .expandedSkills .collapsible:hover {
        font-weight: bold;
        background-color: var(--dark-grey);
    }
}
