footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
}

.github .st0 {
    fill: white;
}

footer .socials {
    height: inherit;
    width: --var(--navHeightMobile);
}

/* .st0{fill:white;} */
