footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

footer svg {
    width: calc(var(--navHeightMobile) / 2) ;
}

.github .st0 {
    fill: white;
}
