/*Entire Webpage*/
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Livvic', sans-serif;

}

:root {
    --yellow: #DAB354 ;
    --light-blue: #D6E9E5;
    --dark-blue: #B0D1CB ;
    --light-grey: #F6F2E8 ;
    --dark-grey: #D7D4CE;
    --pink: #F532D9 ;
    --navHeight: 64px;
    --navHeightMobile: 120px;
    --h2fontsize: 30px;
    --pfontsize: 25px;
}

html {
   scroll-behavior: smooth;
    display: inline;
}

section {
    scroll-margin-top: var(--navHeight);
}

@media screen and (max-device-width: 750px) {
    section {
        scroll-margin-top: var(--navHeightMobile);
    }
    :root {
        --h2fontsize: 40px;
        --pfontsize: 35px;
    }
}

@media screen and (min-width: 600px) and (min-device-width: 1000px) {
    :root {
        --h2fontsize: 20px;
        --pfontsize: 16px;
    }
}

@media screen and (min-device-width: 1000px) {
    :root {
        --h2fontsize: 20px;
        --pfontsize: 16px;
    }
}

h2 {
    text-transform: uppercase;
}
